<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title>Book store</title>
    <th:block layout:fragment="additional-styles">
        <link rel="stylesheet" th:href="@{/css/bookDetail.css}">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Adding book form</h4>
                <form th:action="@{/admin/book/create}" method="post" class="forms-add-book"
                      enctype="multipart/form-data" th:object="${book}">
                    <div class="form-group">
                        <label for="book-title">Title</label>
                        <input type="text" class="form-control" id="book-title" name="title"
                               placeholder="Title" autocomplete="on" th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label for="book-isbn">ISBN</label>
                        <input type="text" class="form-control" id="book-isbn" name="isbn"
                               placeholder="ISBN" value="" th:field="*{isbn}">
                    </div>
                    <div class="form-group">
                        <label for="book-author">Author</label>
                        <input type="text" class="form-control" id="book-author" name="authors"
                               placeholder="Author" value="{{ old('authors') }}" th:field="*{authors}">
                    </div>
                    <div class="form-group">
                        <label for="book-publisher">Publisher</label>
                        <input type="text" class="form-control" id="book-publisher" name="publisher"
                               placeholder="Publisher" value="{{ old('publisher') }}" th:field="*{publisher}">
                    </div>
                    <div class="form-group">
                        <label for="book-publication-date">Publication Date</label>
                        <input type="date" class="form-control" id="book-publication-date" name="publish_date"
                               placeholder="Publication Date" value="{{ old('publish_date') }}" th:field="*{publishDate}">
                    </div>
                    <div class="form-group">
                        <label for="book-language">Pages number</label>
                        <input type="number" class="form-control" id="book-pages-number" name="pageCount"
                               placeholder="Pages Number" value="{{ old('pageCount') }}" th:field="*{pageCount}">
                    </div>
                    <div class="form-group">
                        <label for="book-language">Language</label>
                        <input type="text" class="form-control" id="book-language" name="language"
                               placeholder="Language" value="{{ old('language') }}" th:field="*{language}">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">$</span>
                            </div>
                            <input type="text" class="form-control" name="price"
                                   aria-label="Amount (to the nearest dollar)" value="{{ old('price') }}" th:field="*{price}">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>File upload</label>
                        <input id="selectImg" type="file" name="image" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input id="file-upload-name" type="text" class="form-control file-upload-info" disabled
                                   placeholder="Upload Image">
                            <span class="input-group-append">
                            <label id="btn-upload" class="file-upload-browse btn btn-primary"
                                   for="selectImg" type="button">Upload</label>
                          </span>
                        </div>
                        <img id="image-preview" src="#" alt="Image Preview"
                             style=" display:none; max-width: 100%; max-height: 200px;">
                    </div>
                    <div class="form-group">
                        <label for="book-description">Description</label>
                        <div class="col-xs-12">
                            <textarea class="tinymce-editor" id="book-description" name="description" rows="10"
                                      cols="100%" th:field="*{description}">
                            </textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" onclick="window.history.go(-1); return false;">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
