<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title>Book store</title>
    <th:block layout:fragment="additional-styles">
        <link rel="stylesheet" th:href="@{/css/bookDetail.css}">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <div class="book-detail-header">
                <span class="display-2 font-weight-medium">Information</span>
            </div>
            <div class="btn-edit-deactivate d-flex">
                <button type="button" class="btn btn-edit btn-primary btn-icon-text mr-3"
                        data-toggle="modal" data-target="#editBookModal">Edit
                    <i class="icon-doc btn-icon-append"></i>
                </button>
                <form th:action="@{'/admin/book/status/' + ${book.id} + '/' + ${book.status}}" th:method="post">
                    <button type="submit"
                            th:if="${book.status == 1}"
                            class="btn btn-activate-deactivate btn-outline-danger btn-icon-text">
                        Deactivate
                        <i class="icon-action-redo"></i>
                    </button>

                    <button type="submit"
                            th:unless="${book.status == 1}"
                            class="btn btn-activate-deactivate btn-outline-primary btn-icon-text">
                        Activate
                        <i class="icon-action-undo"></i>
                    </button>
                </form>
                <a type="button" class="btn btn-cancel btn-dark ml-3"
                   th:href="@{/admin/book}">Cancel</a>
            </div>
        </div>
    </div>

    <div class="card-body justify-content-around">
        <form th:action="@{/admin/book/{id}(id=${book.id})}" method="post" enctype="multipart/form-data"
              class="forms-update-book" autocomplete="off" th:object="${book}">
            <input type="hidden" name="_method" value="put"/>
            <div class="admin-book-detail d-flex">
                <div class="col-3">
                    <img id="image-preview" th:src="@{/{img}(img=${book.image})}" alt="Image Preview"
                         class="w-100 mb-2"/>

                    <div class="form-group">
                        <input id="selectImg" type="file" name="image" class="file-upload-default" disabled>
                        <div class="input-group col-xs-12">
<!--                            <input id="file-upload-name" type="text" class="form-control file-upload-info"-->
<!--                                   placeholder="Upload Image"-->
<!--                                   th:value="${#strings.substringAfterLast(book.image, '/')}" disabled>-->
                            <span class="input-group-append">
                            <label id="btn-upload" class="file-upload-browse btn btn-primary" for="selectImg" type="button">Upload</label>
                        </span>
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                    </div>
                </div>

                <div class="col-9">
                    <h4 class="card-title">Book information</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Title</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="book-title" name="title" placeholder="Title"
                                           th:value="*{title}" readonly>
                                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Author</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="authors" th:value="*{authors}" readonly>
                                    <span class="text-danger" th:if="${#fields.hasErrors('authors')}" th:errors="*{authors}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Language and Price -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Language</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="language" th:value="*{language}" readonly>
                                    <span class="text-danger" th:if="${#fields.hasErrors('language')}" th:errors="*{language}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-primary text-white">$</span>
                                        </div>
                                        <input type="text" class="form-control" name="price" th:value="*{price}" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                    <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Genres -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Category</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple" name="genres" multiple disabled style="width:100%">
<!--                                        <th:block th:each="entry : ${allGenres}">-->
<!--                                            <optgroup th:label="${entry.key}">-->
<!--                                                <option th:each="genre : ${entry.value}"-->
<!--                                                        th:value="${genre.id}"-->
<!--                                                        th:selected="${#lists.contains(genresOfBook, genre.id)}"-->
<!--                                                        th:text="${genre.genres}">Genre</option>-->
<!--                                            </optgroup>-->
<!--                                        </th:block>-->
                                    </select>
<!--                                    <span class="text-danger" th:if="${#fields.hasErrors('genres')}" th:errors="*{genres}"></span>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Pages</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="pageCount" th:value="*{pageCount}" readonly>
                                    <span class="text-danger" th:if="${#fields.hasErrors('pageCount')}" th:errors="*{pageCount}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Publisher & Publication Date -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Publisher</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="publisher" th:value="*{publisher}" readonly>
                                    <span class="text-danger" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Publication Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="publishDate" th:value="*{publishDate}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ISBN -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ISBN</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="isbn" th:value="*{isbn}" readonly>
                                    <span class="text-danger" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                <textarea class="form-control tinymce-editor" name="description" rows="10" readonly
                                          th:text="*{description}"></textarea>
                                    <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Submit (invisible) -->
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-primary invisible">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</th:block>
</body>
</html>