<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<head>
    <title>Book store</title>
    <th:block layout:fragment="additional-styles">
        <link rel="stylesheet" th:href="@{/css/liveSearch.css}">
        <script src="https://cdn.tailwindcss.com"></script>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="page-header">
        <h3 class="page-title"> Tables </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Book tables</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card overflow-scroll">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <span class="card-title m-0">Filter</span>
                        <div class="col-md-4 book-status">
                            <select id="bookStatus" class="form-control text-capitalize">
                                <option value="">Status</option>
                                <option value="1" th:selected="${param.is_active == 1}">Active</option>
                                <option value="2" th:selected="${param.is_active == 2}">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="body-head d-flex align-items-center my-2">
                        <h4 class="card-title m-0 mr-2">Books</h4>
                        <a th:href="@{/book/create}"
                           class="icon-plus btn-add-book border-0 bg-transparent m-0" style="color: indianred"></a>
                    </div>
                    <div class="search-bar d-flex justify-content-between">
                        <form action="" class="search-form w-50">
                            <input id="search-book" type="text" name="key" class="form-control search-book"
                                   placeholder="Search Title" title="search" autocomplete="off"
                                   value="">
                            <span id="bookList"></span>
                        </form>
                        <div class="book-filter">
                            <select name="limit" id="limit" class="form-control">
                                <option class="limit_5" value="5">
                                    5
                                </option>
                                <option class="limit_10"
                                        value="10">10
                                </option>
                                <option class="limit_20"
                                        value="20">20
                                </option>
                            </select>
                        </div>
                    </div>

                    <table class="table mt-3">
                        <thead class="table-secondary">
                        <tr class="font-weight-bolder">
                            <th>No.</th>
                            <th>Title/Author</th>
                            <th>ISBN</th>
                            <th>Price</th>
                            <th>Publisher</th>
                            <th>Publication Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="book : ${books}">
                                <td th:text="${book.id}"></td>
                                <td>
                                    <a class="book-title cursor-pointer btn p-0 text-left"
                                         style="white-space: break-spaces !important; min-width: 160px;"
                                         th:href="@{/admin/book/{id}(id=${book.id})}"
                                         th:text="${book.title}"
                                    >
                                    </a>
                                    <div class="book-author text-gray" th:text="${book.authors}"></div>
                                </td>
                                <td th:text="${book.isbn}"></td>
                                <td th:text="${book.price}"></td>
                                <td th:text="${book.publisher}"></td>
                                <td th:text="${book.publishDate}"></td>
                                <td>
                                    <label th:if="${book.status == 1}" class="badge badge-success">Active</label>
                                    <label th:if="${book.status != 1}" class="badge badge-danger">Inactive</label>
                                </td>
                                <td class="text-center">
                                    <div>
                                        <a class="btn btn-icon" th:href="@{admin/book/edit}"><i class="icon-pencil"></i></a>
                                        <a class="btn btn-icon" th:href="@{admin/book/del}"><i class="icon-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="additional-scripts">
</th:block>
</body>
</html>
