<th:block th:fragment="head">
    <link rel="stylesheet" th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}" />
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}" />
    <link rel="stylesheet" th:href="@{/vendors/css/vendor_bundle_base.css}" />
    <link rel="stylesheet" th:href="@{/vendors/daterangepicker/daterangepicker.css}" />
    <link rel="stylesheet" th:href="@{/vendors/select2/select2.min.css}" />
    <link rel="stylesheet" th:href="@{/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}" />
</th:block>
