.book-detail-content button {
    padding: 10px 30px;
}

.book-detail-content .btn-edit-deactivate {
    display: flex;
}

.book-detail-body ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.book-detail-body ul li {
    list-style: none;
}

.book-detail-body ul li div {
    display: flex;
    flex-direction: column;
}

.book-detail-body ul li div span {
    color: #1bdbe0;
    font-weight: 700;
    font-size: 16px;
}

.book-detail-body .writer-info,
.book-detail-body .isbn10 {
    margin-right: 20px;
}

.book-detail-body ul li:not(:last-child) {
    border-right: 1px solid lightgray;
}

.book-detail-body ul li:not(:first-child) {
    margin-left: 20px;
}

.book-footer .price span {
    font-weight: 600;
    font-size: 20px;
}
